html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
html{
	display: flex;
	flex-direction: column;
}
.main-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vh;
}
/* .about-us-header {
	font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 600;
    padding-top: 2vw;
    font-size: 2.8em;
}

.about-us-header::after {
	content: '';
    position: absolute;
	background: #212121;
	top: 100%;
    left: 0;
	width: 100%;
	height: .06em;
	border-radius: 7em;
} */

a, a:hover{
	text-decoration: none;
}
.first .row > div{
  background: #FFFFFF;
  border: 1px solid black;
}
.hide-visibility{
	visibility: hidden;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.horizontal-ruler{
	width: 100vw;
	height: 1.5vw;
	background: #212121;
}
.hidden{
	 display: none;
}
.person ul{
	list-style-type: none;
	padding-left: 0;
}


/********* tweaking the navbar ********/
.nav-container{
	position: relative;
	background: #212121;
}



/*********        person        ********/
.team-container{
	height: 100vh;
	width: 100vw;
	position: relative;
	display: contents;
	justify-content: center;
	flex-direction: column;
}
.div-selector-container{
	padding: 1em 3em 1em 3em;
	align-self: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}
/* .div-selector-container:after{
	transition: .2s;
	content: '';
	align-self: center;
	position: relative;
	top: 2em;
	width: 20px;
	border-bottom: 20px solid #212121;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
} */
/* .div1:after{
	left: -88.5%;
}
.div2:after {
	left: -69.5%;
}
.div3:after {
	left: -51%;
}
.div4:after{
	left: -32.5%;
}
.div5:after{
	left: -12.5%;
} */
.div-selector-container > .div-name{
	cursor: pointer;
	font-family: Roboto;
	letter-spacing: 1px;
	font-size: 1.3em;
	padding: 0.5em 1em;
	margin: 0px 5px;
	border: 2px solid transparent;
	border-radius: 3px;
	transition: all linear 0.1s;
	display: flex;
	flex-direction: column;
	font-weight: 100;
	opacity: 0.8;
}
.div-selector-container > .div-name:hover{
	opacity: 1;
}
.position-selected{
	border-bottom:1.5px solid #212121 !important;
	font-weight: 500 !important;
	color:#212121;
	opacity: 1 !important;
}
.divisions-container{
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
	align-self: center;
	width: 100%;
	height: 80%;
	position: relative;
}
.division-container{
	width: 100%;
	height: 100%;
	position: relative;
	font-family: roboto;
	min-width: 100%;
	transition: .2s;
	display: flex;
	transition-timing-function: ease-out;
	transition-delay: .15s;
}
.divC1{
	margin-left: 0%;
}
.divC2{
	margin-left: -100%;
}
.divC3{
	margin-left: -200%;
}
.divC4{
	margin-left: -300%;
}
.divC5{
	margin-left: -400%;
}
.content-container{
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	position: relative;

}
.person{
	cursor: default;
	max-width: 25%;
	position: relative;
	padding: .3vw 4% ;
	margin: 0px 1%;
	transition: .2s;
	cursor: pointer;
	transition: all linear 0.2s;
	border-radius: 5px;
}
.person:hover{
	background: rgba(21,21,21,0.05);
}
.person .display-picture img{
	margin-top: 1vw;
	border-radius: 100%;
	width: 100%;
}
.person .content{
	margin-top: 1.5vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: hidden;
	width: 120%;
	margin-left: -10%;
}
.person .name{
	font-family: Roboto;
	font-size: 1.5vw;
	display: block;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.person .bio{
	margin-top: 5px;
	width: 100%;
	flex-grow: 1;
}
.person .bio p{
	text-align: center;
	word-break: normal;
}
.person .bio span{
	cursor: pointer;
	color: deepskyblue;
}
.person .bio span:hover{
	text-decoration: underline;
	text-shadow: 0px 0px .01px deepskyblue;
}

/********** pop up with the details *************/
.backdrop{
	background: rgba(21,21,21,.6);
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: 0;
}
.pop-up-container{
	z-index: 9;
	position: fixed;
	height: 100vh;
	width: 100vw;
	position: absolute;
	display: flex;
	justify-content: center;
	transition: .3s;
}
.pop-up .cross{
	position: relative;
	align-self: flex-start;
	box-shadow: 0px 0px 0px;
	top: 0;
	right: 0;
	width: 4em;
	padding: 1em;
	background: white;
	border-top-right-radius: .3vw;
	cursor: pointer;
	transition: .2s;
	margin-left: 0px;
}
.pop-up .cross:hover{
	background: rgba(21,21,21,.14);
}
.pop-up{
	display: flex;
	flex-direction: column;
	top: 12%;
	position: relative;
	height: 83%;
	width: 82%;
	background: white;
	border-radius: .3vw;
	transition: .1s;
}
@keyframes fadeOut{
	0%{
		oapcity: 1;
	}
	99%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
.pop-up-hidden{
	opacity: 0;
	visibility: hidden;
}
.pop-up-shown{
	opacity: 1;
}
.pop-up .profile-data{
	height: 20vh;
	display: flex;
}
.profile-data > img{
	box-shadow: 0vw 0vw 5px #212121;
	margin-left: 3vw;
	width: 27vh;
	border-radius: 3px;
	align-self: flex-end;
}

.profile-data .info{
	font-family: Raleway;
	margin-top: 1em;
	margin-left: 1.8em;
	display: flex;
	flex-direction: column;
}
.info .name{
	font-size: 2.4em;
}
.info .designation{
	margin-top: .45vw;
	font-size: 1.25em;
}
.info .project-name{
	margin-top: .3vw;
	font-size: 1em;
}

.profile-data .social-links{
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	padding-right: 0vw;
	justify-content: flex-end;
}
.social-links img{
	margin: .7vw;
	width: 3vw;
	opacity: 0.9;
	transition: all linear 0.1s;
}
.social-links img:hover{
	transform: scale(1.05);
	opacity: 1;
}
.social-links a{
	align-self: center;
}


.bio{
	margin-top: 4vw;
	align-self: center;
	width: 92%;
}
.bio > .info{
	font-size: 1em;
	font-family: 'Lato',sans-serif;
}
.bio > .info > .line{
	margin-top: -.7vw;
	display: flex;
	flex-direction: row;
}
.line > .title{
	min-width: 10em;
}
.line > p{
	margin-left: 1vw;
}

.bio > .main-bio{
	font-size: 1em;
	font-family: 'Lato';
	margin-top: 2vw;
}
