html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /overflow-x: hidden;
}
html{
	display: flex;
	flex-direction: column;
}
a, a:hover{
	text-decoration: none;
}
.first .row > div{
  background: #FFFFFF;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.horizontal-ruler{
	width: 100vw;
	height: 1.5vw;
	background: #212121;
}


.land{
	position: relative;
	overflow: hidden;
	height: 100vh;
	padding: 0;
}
/*
.land-cover-img{
	position: relative;
	height: auto;
	z-index: -1;
}*/
.land-cover-img {
      z-index: -1;
      left: 50%;
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
}


.land-content{
	display: flex;
	flex-direction: column;
	align-self: center;
	font-family: roboto;
	position: absolute;
	top: 37%;
}
.land-content .headline{
	font-family: 'Patua One', cursive;
	padding: 1.2vw;
	font-size: 3.1vw;
}
.land-content .headline::after{
    display: none;
}
.details{
	padding-bottom: 2vw;
	font-size: 1.8vw;
}
.land-content > .land-text{
	text-align: center;
	color: aliceblue;
}
.land-content > .land-button{
	background-color: rgba(255,255,255,.7);
	margin-top: 1vw;
	padding: 1vw;
	padding-left: 1.8em;
	padding-right: 1.8em;
	align-self: center;
	font-size: 1.7vw;
	transition: .3s;
}
.land-button:hover{
	background: rgba(255,255,255,.3);
	border: 2px solid rgba(21,21,21,.8);
}

/*************************  land page ends  ***********************************/


.about-us-container{
    margin-top: 2em;
	display: flex;
	height: 100vh;
	background: #FEFEFE;
	color: #212121;
	position: relative;
	display: flex;
	justify-content: center;
    overflow-y: hidden;
}
.about-us-content{
	position: relative;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	align-self: center;
}
.text-container{
	position: relative;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	min-width: 70%;
	min-height: 100%;
}
.text-container > .headline-container{
	left: 1em;
	position: relative;
	display: flex;
    justify-content: flex-start;
}
.text-container > .headline-container::before{
	content: '';
	position: absolute;
	background: #212121;
	width: .4vw;
	height: 60%;
	align-self: center;
}
.text-container .headline{
	position: relative;
	padding-left: 2vw;
	font-size: 3em;
}
.text-container .headline::after{
    display: none;
}
.text-container-content{
	font-size: 1.2em;
	line-height: 1.8em;
	padding: 1vw;
}
.image-container{
	position: relative;
	display: flex;
	justify-content: center;
}
.image{
	border-radius: .5em;
	width: 100%;
	align-self: center;
}

/******************* about us end *************************/


/******************* what we do   **************************/

.what-we-do-container{
	background: #FEFEFE;
	height: 100vh;
	position: relative;
    justify-content: center;
	display: flex;
	flex-direction: column;
}
.headline-container{
	position: relative;
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.headline{
    font-family: 'Patua One', cursive;
    align-self: center;
	color: #212121;
	position: relative;
	text-align: center;
	padding: 1vw;
    font-size: 2.5em;
    margin: 0;
}
.headline::after{
	content: '';
    position: absolute;
	background: #212121;
	top: 100%;
    left: 0;
	width: 100%;
	height: .1em;
	border-radius: 7em;
}

.what-we-do-content{
	margin-top: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.what-we-do-content  .card-img-top{
    align-self: center;
	width: 18vw;
	height: 18vw;
	padding: 3vw;
	padding-bottom: 0;
	padding-top: 2vw;
	margin: 0;
}

.what-we-do-content .what-we-do-card{
	color: #212121;
	background: rgba(255,255,255,0);
	min-width: 20vw;
    max-width: 30vw;
	margin: 2vw 5vw;
	padding-top: 0;
}

.what-we-do-content .card-link{
	align-content: space-around;
}


/***************** what we do part end *************/


/***************** associates part start ***********/
.associates-container{
    height: auto;
}

.associates-headline-container{
    position: relative;
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.associates-container .content{
    margin-top: 1vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.associates-container .img-container{
    margin: 3vw;
}
.associates-container .img-container img{
    width: 20vw;
    height: auto;
}


/***************  associates part end  **************/


/**************    featured projects   **************/

.featured-projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vw;
}

.featured-projects-container .content{
    margin-top: 4vw;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
    justify-content: space-between;
}

.featured-projects-container .content .project-card{
    border-radius: .5vw;
    overflow: hidden;
    position: relative;
    width: 30%;
}

.featured-projects-container .content .project-card .project-img{
    width: 100%;
}

.featured-projects-container .content .project-card .descriptor{
    position: absolute;
    bottom: 0;
    background: rgba(245,245,245, .6);
    padding: .3em;
    text-align: center;
}
.featured-projects-container .content .project-card .descriptor .name{
    font-family: 'patua one';
}
.featured-projects-container .content .project-card .descriptor .brief{
    font-family: roboto;
}





/*****************      form part      **************/


.form-container{
	background: #FEFEFE;
	display: flex;
	width: 100vw;
	justify-content: center;
}
.wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: center;
}
.form-content{
	padding: 4vw 4vw 4vw 5vw;
	flex-grow: 1;
	height: 100%;
	font-family: roboto;
}
.form-content input{
	border: .05vw solid #212121;
	margin-top: 1.5vw;
	width: 100%;
	padding: .8vw;
	background: #F7F7F7;
}
.form-container input:focus{

}
.form-control:focus {
	background: #FFFFFF;
  border-color: #454545;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}
.form-content input::placeholder{
	color: #212121;
}
.form-headline-container{
	font-family: lato;
}
.form-headline{
	font-weight: bold;
}
.form-headline-sub{
	font-weight: 500;
}
.form-body{
	margin-top: 1vw;
}
.form-name-container{
	display: flex;
	justify-content: space-between;
}
.form-name-container > input{
	width: 49%;
}
.form-mail-container > input{
	width: 70%;
}
.form-message-container > textarea{
	padding: .8vw;
	color: #212121;
	font-family: roboto;
	margin-top: 1.5vw;
	background: #F7F7F7;
	width: 100%;
	height: 15vw;
	border: .05vw solid #212121;
}
.form-message-container > textarea::placeholder{
	color: #212121;
}
.form-content .btn{
	margin-top: 1vw;
	padding: .9vw 2.6vw .9vw;
	background: #F7F7F7;
	border: .08vw solid #212121;
	color: #424242;
	font-family: roboto;
	font-size: 1.1em;
	transition: .4s;
	font-weight: 600;
}
.form-content .btn:hover{
	border: .12vw solid #212121;
}



/*------------------------------*/
.contact-card-container{
	max-width: 700px !important;
}
.card{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.contact-heading{
	margin-bottom:30px; 
}
.contact-heading span:nth-of-type(1){
	display: block;
	font-family: 'Raleway';
	font-size: 2.2rem;
	font-weight: bolder;
	letter-spacing: 2px;
	color:teal;
}
.contact-heading span:nth-of-type(2){
	display: block;
	font-family: 'Raleway';
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 1.4px;
	color:#546E7A;
}
.form-row{
	margin-bottom: 10px;
}

.submit-button{
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
	height: 40px;
	padding: 0px 20px 0px 20px;
	letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	white-space: nowrap;
	background-color: transparent;
	color: #8138af;
	transition: all linear 0.1s;
}
.submit-button:hover{
	color:white;
	background-color: #9b4dca;
}
.submit-button:active{
	background-color: #8138af;
}
.submit-button:focus{
	outline: none;
}
.join-team{
	display: none;
	float: right;
	text-align: center;
}
.join-team span:nth-of-type(1){
	display: block;
	font-size: 15px;
	color:#546E7A;
	letter-spacing: 0.2px;
}
.join-team a{
	margin-top: -3px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	color:#37474F;
	transition: all linear 0.1s;
}
.join-team a:hover{
	color:#263238;
}
.contact-footer{
	text-align: center;
	position: absolute;
	bottom: 0px;
	left:15px;
	right: 15px;
	height: 50px;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	padding:0px 25px 0px 25px;
}
.form-submit-row{
	margin-top: 10px;
	margin-bottom: 20px;
}
