html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
	padding: 0px;
}
html{
	display: flex;
	flex-direction: column;
}
a, a:hover{
	text-decoration: none;
}
.first .row > div{
  background: #FFFFFF;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.horizontal-ruler{
	width: 100vw;
	height: 1.5vw;
	background: #212121;
}





.land{
	position: relative;
	overflow: hidden;
	height: 100vh;
	padding: 0;
}
.land-cover-img {
      z-index: -1;
      left: 50%;
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
}


.land-content{
	display: flex;
	flex-direction: column;
	align-self: center;
	font-family: roboto;
	position: absolute;
	top: 37%;
}
.details{
	padding-bottom: 2vw;
	font-size: 1.5vw;
}
.land-content > .land-text{
	text-align: center;
	color: aliceblue;
	font-weight: bold;
}
.land-content #land-button{
	align-self: center;
}
.land-content .land-button{
	color:aliceblue;
	font-family: 'Raleway', cursive;
	margin-top: 1vw;
	padding: 1vw;
	padding-left: 1.8em;
	padding-right: 1.8em;
	font-size: 1.7vw;
	transition: .3s;
}
.land-button a{
	color: aliceblue;
}
.land-button:hover{
	color: #212121;
	background: #F1F1F1;
}

/*************************  land page ends  ***********************************/


.about-us-container{
	display: flex;
	height: 100vh;
	background: #FEFEFE;
	color: #212121;
	position: relative;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	padding: 0 7vw;
}
.about-us-content{
	position: relative;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	align-self: center;

}
.text-container{
	position: relative;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	min-width: 70%;
	min-height: 100%;
}
.text-container > .headline-container{
	font-family: 'Patua One', sans-serif;
	left: 1em;
	position: relative;
	display: flex;
    justify-content: flex-start;
}
.text-container > .headline-container::before{
	content: '';
	position: absolute;
	background: #212121;
	width: .4vw;
	height: 60%;
	align-self: center;
}
.text-container .headline{
	position: relative;
	padding-left: 2vw;
	font-size: 3em;
}
.text-container .headline::after{
    display: none;
}
.text-container-content{
	font-size: 1.2em;
	line-height: 1.8em;
	padding: 1vw;
	padding-right: 3vw;
	text-align: justify;
}
.image-container{
	position: relative;
	display: flex;
	justify-content: center;
}
.image{
	border-radius: .5em;
	width: 100%;
	align-self: center;
}

/******************* about us end *************************/


/******************* what we do   **************************/

.what-we-do-container{
	background: #FEFEFE;
	position: relative;
    justify-content: center;
	flex-direction: column;
	margin-bottom: 100px;
}
.headline-container{
	position: relative;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.what-we-do-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.what-we-do-content  .card-img-top{
    align-self: center;
	width: 15vw;
	padding: 3vw;
	padding-bottom: 0;
	padding-top: 9vh;
	margin: 0;
}

.what-we-do-content .what-we-do-card{
	color: #212121;
	background: rgba(255,255,255,0);
	min-width: 20vw;
    max-width: 25vw;
	margin: 0px;
	padding-top: 0;
	margin: 0 2vw;
}

.what-we-do-content .card-link{
	align-content: space-around;
}
.card-text{
	text-align: justify;
    text-justify: inter-word;
}
/***************** what we do part end *************/


/***************** associates part start ***********/
.associates-container{
	height: auto;
	margin-top: 5vh;
	margin-bottom: 15vh;
}

.associates-headline-container{
    position: relative;
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.associates-container .content{
    margin-top: 1vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.associates-container .img-container{
	margin: 3vw;
	width: 10vw;
	position: relative;
}
.associates-container .img-container:nth-child(1){
	width: 15vw;
}
.associates-container .img-container img{
	background: black;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
    width: 100%;
    height: auto;
}


/***************  associates part end  **************/


/**************    featured projects   **************/

.featured-projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vw;
}

.featured-projects-container .content{
    margin-top: 4vw;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
    justify-content: space-around;
}

.featured-projects-container .content .project-card{
    border-radius: .5vw;
    overflow: hidden;
    position: relative;
	width: 30%;
	height: 500px; /** Card should have fixed widht and height**/
	display: flex;
	flex-direction: column;
	cursor: pointer;
	overflow-y: hidden;
	background: rgba(245,245,245, .6);
}

.featured-projects-container .content .project-card:hover {
	background-color: lightgrey;
}

.featured-projects-container .content .project-card .project-img{
    width: 100%;
}

.featured-projects-container .content .project-card .descriptor{
    bottom: 0;
    background: rgba(245,245,245, .6);
	padding: .3em;
	height: 100%;
	text-align: center;
	
}
.featured-projects-container .content .project-card .descriptor .name{
    font-family: 'patua one';
}
.featured-projects-container .content .project-card .descriptor .brief{
    font-family: roboto;
}

.nav-links > .index-nav-item{
	font-family: Roboto, sans-serif;
	letter-spacing: 2px;
	font-size: 0.8rem;
	color: aliceblue;
	padding: 1em;
}
/*
.nav-fixed .index-nav-item{
	color: #ffcc00;
	letter-spacing: 2px;
	font-size: 0.8rem;
	transition: color linear 1s;
}
*/

/*****************      form part      **************/


.form-container{
	background: #FEFEFE;
	display: flex;
	width: 100vw;
	justify-content: center;
}
.wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: center;
}
.form-content{
	padding: 4vw 4vw 4vw 5vw;
	flex-grow: 1;
	height: 100%;
	font-family: roboto;
}
.form-content input{
	border: .05vw solid #212121;
	margin-top: 1.5vw;
	width: 100%;
	padding: .8vw;
	background: #F7F7F7;
}
.form-control:focus {
	background: #FFFFFF;
  border-color: #454545;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}
.form-content input::placeholder{
	color: #212121;
}
.form-headline-container{
	font-family: lato;
}
.form-headline{
	font-weight: bold;
}
.form-headline-sub{
	font-weight: 500;
}
.form-body{
	margin-top: 1vw;
}
.form-name-container{
	display: flex;
	justify-content: space-between;
}
.form-name-container > input{
	width: 49%;
}
.form-mail-container > input{
	width: 70%;
}
.form-message-container > textarea{
	padding: .8vw;
	color: #212121;
	font-family: roboto;
	margin-top: 1.5vw;
	background: #F7F7F7;
	width: 100%;
	height: 15vw;
	border: .05vw solid #212121;
}
.form-message-container > textarea::placeholder{
	color: #212121;
}
.form-content .btn{
	margin-top: 1vw;
	padding: .9vw 2.6vw .9vw;
	background: #F7F7F7;
	border: .08vw solid #212121;
	color: #424242;
	font-family: roboto;
	font-size: 1.1em;
	transition: .4s;
	font-weight: 600;
}
.form-content .btn:hover{
	border: .12vw solid #212121;
}



/*------------------------------*/
.contact-card-container{
	max-width: 700px !important;
}
.card{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.contact-heading{
	margin-bottom:30px; 
}
.contact-heading span:nth-of-type(1){
	display: block;
	font-family: 'Raleway';
	font-size: 2.4rem;
	font-weight: bolder;
	letter-spacing: 2px;
	color:teal;
}
.contact-heading span:nth-of-type(2){
	display: block;
	font-family: 'Raleway';
	font-size: 1.1rem;
	letter-spacing: 1px;
	color:#37474F;
}
.form-row{
	margin-bottom: 10px;
}
.join-team{
	display: none;
	float: right;
	text-align: center;
}
.join-team span:nth-of-type(1){
	display: block;
	font-size: 15px;
	color:#546E7A;
	letter-spacing: 0.2px;
}
.join-team a{
	margin-top: -3px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	color:#37474F;
	transition: all linear 0.1s;
}
.join-team a:hover{
	color:#263238;
}
.contact-footer{
	text-align: center;
	position: absolute;
	bottom: 0px;
	left:15px;
	right: 15px;
	height: 50px;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	padding:0px 25px 0px 25px;
}
.form-submit-row{
	margin-top: 10px;
	margin-bottom: 20px;
}
.button-container{
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.cover-page{
	height: 100vh;
	width: 100vw;
}
.cover-picture{
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.parallax-slider{
	left:0px !important;	
}
.parallax-mirror{
	overflow: visible !important;
}
.title-overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70%;
	height: 100%;
    margin-left:-10vw;
	transform: skew(20deg);
	background: #000;
	opacity: 0.5;
}
.headline-text{
	position: relative;
	top: 48%;
	transform: translateY(-50%);
	margin-left: 6.5vw;
	padding-left: 2vw;
	border-left: 10px solid #ffcc00;
}

.headline-text h1{
	font-family: Montserrat;
	font-weight: bolder;
	color: white;
	font-size: 3.5em;
}
.headline-text h2{
	font-family: 'Roboto';
	font-weight: 300;
	color: white;
	font-size: 1.4em;
	letter-spacing: 1.5px;
	margin-top: 10px;
}
.action-buttons{
	position: relative;
	top: 48%;
	transform: translateY(-50%);
	margin-left: 8.5vw;
}
.action-buttons a{
	margin-right: 20px;
}
.graph-lines{
	position: absolute;
	bottom: -8vh;
	right: -10vw;
	width: 100vw;
	height: 100vh;
}
.social-buttons{
	position: absolute;
	right: 20px;
	bottom: 10vh;
	height: auto;
	width: 50px;
}
.social-buttons a{
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
}
.social-buttons a:hover{
	transform: scale(1.05);
}

.associates-box{
	min-height: 25vh;
	height: 25vh;
	width: 100vw;
	background-color: #263238;
	color:white;
	text-align: center;
	padding: 20px 50px;
}
.associates-title{
	color: white;
	font-family: 'Raleway';
	font-size: 1.3em;
	letter-spacing: 3px;
	opacity: 0.8;
	display: block;
}
.associates-logo-quilt{
	position: relative;
	top: 55%;
	transform: translateY(-50%);
	height: 100px;
}
.associates-logo{
	max-height: 40px;
	margin: 0px 30px;
}