.about-us-content{
    font-size: .5em;
}

/*
.land-cover-img{
    min-height: auto;
}*/
.land{
    height: 50%;
}

.about-us-container{
    height: auto;
}

.about-us-content{
    margin-top: 6vw;
}



.what-we-do-container{
    padding-top: 10vw;
}
.what-we-do-headline{
    font-size: 1em;
}
.headline{
    font-size: 1.5em;
}


.what-we-do-content{
	margin-top: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.what-we-do-content .what-we-do-card{
    /border: 1px solid black;
    align-self: center;
    height: auto;
    font-size: .7em;
    display: flex;
    flex-direction: row;
	min-width: 100vw;
	margin: 1em 0em;
}

.what-we-do-content .card-title{
    font-size: 1.5em;
}

.what-we-do-content .card-img-top{
    /border: 1px solid black;
    align-self: center;
	/height: 20vw;
	padding: 3vw;
	padding-bottom: 0;
	padding-top: 2vw;
	margin: 0;
    min-width: 20vw;
}

.what-we-do-content .card-body{
    /border: 1px solid black;
    height: auto;
    padding-top: 0;
    font-size: 1em;
    padding: 1em;
}



/*****************  associates part    **************/

.associates-container .content{
    margin-top: 5vw;
}
.associates-container .img-container img{
    width: 40vw;
}




/****************   featured projects  **************/

.featured-projects-container .content{
    margin-top: 6vw;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-projects-container .content .project-card{
    margin: 1em;
    align-self: center;
    width: 40%;
}

.featured-projects-container .content .project-card .descriptor{
    position: absolute;
    bottom: 0;
    background: rgba(245,245,245, .6);
    /padding: .3em;
    padding-bottom: 0em;
}
.featured-projects-container .content .project-card .descriptor .name{
    font-size: 1em;
    font-family: 'patua one';
}
.featured-projects-container .content .project-card .descriptor .brief{
    font-size: .5em;
    font-family: roboto;
}




/*****************      form part      **************/


.form-container{
	background: #FEFEFE;
	display: flex;
	flex-direction: column;
    position: relative;
	width: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	width: 100%;
	height: 100%;
	align-self: center;
	box-shadow: 1px 1px 1px #212121;
}
.form-content{
    height: 100%;
    top: 0;
	padding: 4vw 4vw 4vw 5vw;
	flex-grow: 1;
	height: 100%;
	font-family: roboto;
}
.form-content input{
	border: .05vw solid #212121;
	margin-top: 1.5vw;
	width: 100%;
	padding: .8vw;
	background: #F7F7F7;
}
.form-container input:focus{

}
.form-control:focus {
	background: #FFFFFF;
      border-color: #454545;
      box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}
.form-content input::placeholder{
	color: #212121;
}
.form-headline-container{
	font-family: lato;
}
.form-headline{
	font-weight: bold;
}
.form-headline-sub{
	font-weight: 500;
}
.form-body{
	margin-top: 1vw;
}
.form-name-container{
	display: flex;
	justify-content: space-between;
}
.form-name-container > input{
	width: 49%;
}
.form-mail-container > input{
	width: 70%;
}
.form-message-container > textarea{
	padding: .8vw;
	color: #212121;
	font-family: roboto;
	margin-top: 1.5vw;
	background: #F7F7F7;
	width: 100%;
	height: 15vw;
}
.form-message-container > textarea::placeholder{
	color: #212121;
}
.form-content .btn{
	margin-top: 1vw;
	padding: .9vw 2.6vw .9vw;
	background: #F7F7F7;
	color: #424242;
	font-family: roboto;
	font-size: 1.1em;
	transition: .4s;
	/font-weight: 600;
}
.form-sidebar{
    border: 1px solid black;
	height: 30%;
	background: #212121;
	width: 100%;
	align-items: flex-end;
}
