html{
	overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgb(97, 127, 141);
}

::-webkit-scrollbar-thumb {
	background: #37474F;
}
::-webkit-scrollbar-thumb:hover {
    background: #90A4AE;
}
/*navbar start */
.nav-container{
	z-index: 2;
	display: flex;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: absolute;
	width: 100vw;
	background: linear-gradient(to bottom, rgba(21,21,21,.5), rgba(21,21,21,.35), rgba(21,21,21,.2),rgba(21,21,21,0));
}
@keyframes nav-container-fixed{
	0%{
		margin-top: -100%;;
	}
	100%{ margin-top: 0;}
}
.nav-fixed{
	position: fixed;
	background: rgba(21,21,21,1);
	animation-name: nav-container-fixed;
	animation-duration: .4s;
	animation-delay: 0s;
	color: #ffcc00;
}


.nav-logo{
	width: 19%;
	padding-left: 2em;
}
.nav-logo > .logo{
	width: 100%;
}


.nav-item:hover{
	font-weight: 600;
}
.nav-links{
	padding-right: 4em;
}
.nav-links > .nav-item{
	font-family: Roboto, sans-serif;
	letter-spacing: 2px;
	font-size: 0.8rem;
	color: #ffcc00;
	padding: 1em;

}

.nav-fixed .nav-item{
	color: #ffcc00;
	letter-spacing: 2px;
	font-size: 0.8rem;
	transition: color linear 1s;
}

.footer{
	position: relative;
	display: flex;
	flex-direction: row;
}
.copyright{
	align-self: flex-end;
	position: relative;
	bottom: 0%;
	width: 100%;
	height: 40px;
	background-color: #37474F;
	color: #B0BEC5;
	text-align: center;
	line-height: 40px;
	font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
	.nav-links .btn{
		border-radius: .5vw;
		font-size: 1.2vw;
	}
	.nav-container{
		padding-top: 3vw;
		padding-bottom: 3vw;
	}
}

/*navbar end*/

