
/*navbar start */
.nav-container{
	z-index: 2;
	display: flex;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	position: absolute;
	width: 100vw;
	color: aliceblue;			/*color of everything in the nav is aliceblue */
	background: linear-gradient(to bottom, rgba(21,21,21,.4), rgba(21,21,21,.3), rgba(21,21,21,.2),rgba(21,21,21,0));
	/min-height: 5em;
	/border: 1px solid white;
	/position: fixed;
}
@keyframes nav-container-fixed{
	0%{
		margin-top: -100%;;
	}
	100%{ margin-top: 0;}
}
.nav-container-fixed{
	position: fixed;
	background: rgba(21,21,21,1);
	animation-name: nav-container-fixed;
	animation-duration: .5s;
}


.nav-logo{
	width: 16%;
	padding-left: 2em;
}
.nav-logo > .logo-text{
	font-family: pacifico, sans-serif;
	font-size: 2vw;
	color: aliceblue;
}


.nav-item:hover{
	font-weight: 600;
}
.nav-links{
	padding-right: 4em;
}
.nav-links > .nav-item{
	font-family: Roboto, sans-serif;
	font-size: 1.2vw;
	color: aliceblue;
	padding: 1em;
	padding-right: 2em;
}
.nav-links > button{
	font-family: Roboto, sans-serif;
	background: rgba(224,224,224,.8);
	font-size: 1.2vw;
	padding: .6em;
	padding-left: 1.8vw;
	padding-right: 1.8vw;
}
.nav-links > button:hover{
	background: rgba(224,224,224, 1);
}

/*navbar end*/

