html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
html{
	display: flex;
	flex-direction: column;
}
a, a:hover{
	text-decoration: none;
}
.first .row > div{
  background: #FFFFFF;
  border: 1px solid black;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.horizontal-ruler{
	width: 100vw;
	height: 1.5vw;
	background: #212121;
}


/*navbar start */
.nav-container{
	z-index: 2;
	display: flex;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	position: absolute;
	width: 100vw;
	color: aliceblue;			/*color of everything in the nav is aliceblue */
	background: linear-gradient(to bottom, rgba(21,21,21,.4), rgba(21,21,21,.3), rgba(21,21,21,.2),rgba(21,21,21,0));
	/min-height: 5em;
	/border: 1px solid white;
	/position: fixed;
}
@keyframes nav-container-fixed{
	0%{
		margin-top: -100%;;
	}
	100%{ margin-top: 0;}
}
.nav-container-fixed{
	position: fixed;
	background: rgba(21,21,21,1);
	animation-name: nav-container-fixed;
	animation-duration: .5s;
}


.nav-logo{
	width: 16%;
	padding-left: 2em;
}
.nav-logo > .logo-text{
	font-family: pacifico;
	font-size: 2vw;
	color: aliceblue;
}


.nav-item:hover{
	font-weight: 600;
}
.nav-links{
	padding-right: 4em;
}
.nav-links > .nav-item{
	font-family: Roboto;
	font-size: 1.2vw;
	color: aliceblue;
	padding: 1em;
	padding-right: 2em;
}
.nav-links > button{
	background: rgba(224,224,224,.8);
	font-size: 1.2vw;
	padding: .6em;
	padding-left: 1.8vw;
	padding-right: 1.8vw;
}
.nav-links > button:hover{
	background: rgba(224,224,224, 1);
}

/*navbar end*/


.land{
	position: relative;
	overflow: hidden;
	/border: 1em solid black;
	/display: none;
	height: 100vh;
	padding: 0;
}
/*
.land-cover-img{
	position: relative;
	height: auto;
	z-index: -1;
}*/
.land-cover-img {
  z-index: -1;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  min-height: 100%;
  min-width: 100%;
}
@media (max-width: 400px){
	.land-cover-img{
		padding: 0;
		/position: absolute;
		z-index: -1;
		/width: 200%;
		/left: 15%;
	}
}


.land-content{
	display: flex;
	flex-direction: column;
	align-self: center;
	font-family: roboto;
	position: absolute;
	top: 37%;
}
.headline{
	font-family: 'Patua One', cursive;
	padding: 1.2vw;
	font-size: 3.1vw;
}
.details{
	padding-bottom: 2vw;
	font-size: 1.8vw;
}
.land-content > .land-text{
	text-align: center;
	color: aliceblue;
}
.land-content > .land-button{
	background-color: rgba(255,255,255,.7);
	margin-top: 1vw;
	padding: 1vw;
	padding-left: 1.8em;
	padding-right: 1.8em;
	align-self: center;
	font-size: 1.7vw;
	transition: .3s;
}
.land-button:hover{
	background: rgba(255,255,255,.3);
	border: 2px solid rgba(21,21,21,.8);
}

/*************************  land page ends  ***********************************/


.about-us-container{
	/display: none;
	display: flex;
	height: 100vh;
	background: #FEFEFE;
	/background: #61E786;
	/justify-content: center;
	//color: rgba(200,200,200,1);
	color: #212121;
	position: relative;
	display: flex;
	justify-content: center;
}
.about-us-content{
	/border: 1px solid red;
	position: relative;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	height: auto;
	align-self: center;
}
.text-container{
	position: relative;
	padding: 1vw;
	/border: 1px solid black;
	display: flex;
	flex-direction: column;
	min-width: 70%;
	min-height: 100%;
}
.text-container > .headline-container{
	left: 1em;
	position: relative;
	display: flex;
}
.text-container > .headline-container::before{
	content: '';
	position: absolute;
	background: #212121;
	width: .4vw;
	height: 60%;
	align-self: center;
}
.text-container .headline{
	position: relative;
	padding-left: 2vw;
	font-size: 4vw;
}
.text-container-content{
	font-size: 1.4em;
	padding: 1vw;
}
.image-container{
	position: relative;
	display: flex;
	justify-content: center;
}
.image{
	border-radius: .5em;
	width: 100%;
	align-self: center;
}

/******************* about us end *************************/


/******************* what we do   **************************/

.what-we-do-container{
	background: #FEFEFE;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}
.what-we-do-headline-container{
	position: relative;
	padding-top: 2.5em;
}
.what-we-do-headline{
	color: #212121;
	position: relative;
	text-align: center;
	padding: 1vw;
}
.what-we-do-headline::after{
	content: '';
	position: absolute;
	background: #212121;
	top: 100%;
	left: 0;
	width: 57%;
	height: .1em;
	left: calc(50% - 3.5em);
	border-radius: 7em;
}


.what-we-do-content{
	margin-top: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.what-we-do-content  .card-img-top{
	height: 18vw;
	padding: 3vw;
	padding-bottom: 0;
	padding-top: 2vw;
	margin: 0;
}

.what-we-do-content .card{
	color: #212121;
	background: rgba(255,255,255,0);
	min-width: 2vw;
	margin: 2em;
	padding-top: 0;
	border: 0;
}

.what-we-do-content .card-link{
	align-content: space-around;
}


/***************** what we do part end *************/

/*****************      form part      **************/


.form-container{
	background: #FEFEFE;
	display: flex;
	flex-direction: row;
	height: 100vh;
	/background: white;
	/background: #9792E3;
	width: 100vw;
	justify-content: center;
}
.wrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-self: center;
	box-shadow: 1px 1px 1px #212121;
}
.form-content{
	padding: 4vw 4vw 4vw 5vw;
	flex-grow: 1;
	height: 100%;
	font-family: roboto;
}
.form-content input{
	border: .05vw solid #212121;
	margin-top: 1.5vw;
	width: 100%;
	padding: .8vw;
	background: #F7F7F7;
}
.form-container input:focus{

}
.form-control:focus {
	background: #FFFFFF;
  border-color: #454545;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}
.form-content input::placeholder{
	color: #212121;
}
.form-headline-container{
	font-family: lato;
}
.form-headline{
	font-weight: bold;
}
.form-headline-sub{
	font-weight: 500;
}
.form-body{
	margin-top: 1vw;
}
.form-name-container{
	display: flex;
	justify-content: space-between;
}
.form-name-container > input{
	width: 49%;
}
.form-mail-container > input{
	width: 70%;
}
.form-message-container > textarea{
	padding: .8vw;
	color: #212121;
	font-size:
	font-family: roboto;
	margin-top: 1.5vw;
	background: #F7F7F7;
	width: 100%;
	height: 15vw;
	border: .05vw solid #212121;
}
.form-message-container > textarea::placeholder{
	color: #212121;
}
.form-content .btn{
	margin-top: 1vw;
	padding: .9vw 2.6vw .9vw;
	background: #F7F7F7;
	border: .08vw solid #212121; /#00BFA5;
	color: #424242;
	font-family: roboto;
	font-size: 1.1em;
	transition: .4s;
	/font-weight: 600;
}
.form-content .btn:hover{
	border: .12vw solid #212121;
}
.form-sidebar{
	width: 30%;
	background: #212121;
	height: 100%;
	align-items: flex-end;
}

















