.material-button{
    border: 0.1rem solid #1976D2;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
	height: 40px;
	line-height: 37px;
	padding: 0px 20px 0px 20px;
	letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	white-space: nowrap;
	background-color: transparent;
	color: #1976D2;
	transition: all linear 0.1s;
}
.material-button:hover{
	color:white;
	background-color: #1976D2;
}
.material-button:active{
	background-color: #0D47A1;
}
.material-button:focus{
	outline: none;
}

.material-button-yellow{
    border: 0.1rem solid #FFFF00;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
	height: 40px;
	line-height: 37px;
	padding: 0px 20px 0px 20px;
	letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	white-space: nowrap;
	background-color: transparent;
	color: #FFFF00;
	transition: all linear 0.1s;
}
.material-button-yellow:hover{
	color:white;
	background-color: #FFF176;
}
.material-button-yellow:active{
	background-color: #FFF176;
}
.material-button-yellow:focus{
	outline: none;
}

.material-button-white{
    border: 0.08rem solid white;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
	height: 40px;
	line-height: 37px;
	padding: 0px 20px 0px 20px;
	letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	white-space: nowrap;
	background-color: transparent;
	color: white;
	transition: all linear 0.1s;
}
.material-button-white:hover{
	color:teal;
	background-color: white;
}
.material-button-white:active{
	background-color: white;
}
.material-button-white:focus{
	outline: none;
}


.material-button-purple{
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
	height: 40px;
	line-height: 37px;
	padding: 0px 20px 0px 20px;
	letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	white-space: nowrap;
	background-color: transparent;
	color: #9b4dca;
	transition: all linear 0.1s;
}
.material-button-purple:hover{
	color:white;
	background-color: #9b4dca;
}
.material-button-purple:active{
	background-color: #8138af;
}
.material-button-purple:focus{
	outline: none;
}